.exhibit {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    background-color: #707683;
  }
  
  .exhibit h2 {
    margin-top: 0;
  }
  
  .exhibit-content {
    margin-top: 10px;
  }
  